/* about.css */
body{
    background-color: red;
}
.container {
    margin-top: 50px;
  }
  
  .row {
    margin-bottom: 50px;
  }
  
  h2 {
    color: #0056b3;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  
  img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }
  }
  